@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-pretendard;
  color: var(--foreground);
  background: var(--background);
}

.swiper-pagination-bullets {
  position: absolute !important;
  display: flex;
  margin-left: 70px;
  margin-bottom: 28px;
  gap: 4px;
}

@media (max-width: 768px) {
  .swiper-pagination-bullets {
    margin-left: 50px;
    margin-bottom: 25px;
  }
}
.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

dialog::backdrop {
  background: black;
  opacity: 0.2;
}
